@import './inter.scss', "./highlight.scss", 'petrel.scss';

* {
    font-family: 'DM Sans', sans-serif;
}

#navigation #logo span {
    font-family:  'DM Mono' !important;
}


html {
    scroll-behavior: smooth;
}

.big-code-sample {
    float: right;
    display: inline-block;
}

#page {
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;

    word-wrap: break-word;

    &.docs {
        margin-left: 200px;
        max-width: 100%;
        overflow: hidden;
    }
}

#markdown-contents {
    font-size: 21px;

    code {
        background: #262B390F;
        border-radius: 6px;
        padding: 0px 8px;
    }

    code pre {
        font-size: 16px;
    }

    h1, h2, h3 {
        color: #323232;
    }

    h1 {
        padding: 26px 0px 25px 0px;
    }
    h2 {
        padding: 21px 0px 13px 0px;
    }
    h3 {
        padding: 19px 0px 7px 0px;
    }
    h4 {
        padding: 19px 0px 13px 0px;
    }
    h5 {
        padding: 17px 0px 11px 0px;
    }

    img {
        max-width: 100%;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        font-weight: 500;
        color: #434343;
    }
    li {
        margin-left: 24px;
    }

    hr {
        border: 1px solid #DDD;
        margin-top: 50px;
        margin-bottom: 20px;
        display: block;
    }

    table {
        border-spacing: 0px;
        margin-bottom: 10px;
        th {
            text-align: left;
        }
        th, tr, td {
            font-size: 18px;
            margin: 0px;
            padding: 3px 7px;
            border: rgb(230, 230, 230) solid 1px;
        }
    }

    a:link,
    a:visited {
        color: #4542f4;
        transition: 0.3s;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: #3330fc;
        }
    }
}

pre {
    position: relative;
}

.language-identifier {
    position: absolute;
    //background: #FFFFFF11;
    color: #FFFFFF44;
    top: 0px;
    right: 0px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    //padding: 1px 10px;
    padding: 6px 10px;
    border-radius: 0px 0px 0px 7px;
    transition: 0.2s opacity;
}

req-method {
    color:      #3330fc;
    background: #3330fc27;
    font-size: 19px;
    padding: 4px 10px;
    border-radius: 10px;
    margin-right: 10px;
    &.DELETE {
        color:     #EE3333;
        background: #EE333327;
    }
    &.POST {
        color:      #33EE33;
        background: #33EE3327;
    }
    &.PUT {
        color:      #eea333;
        background: #eea33327;
    }
}

@media screen and (max-width: 720px){
    #page {
        &.docs {
            margin-left: 0px;
        }
    }    
}