.petrel-code-editor {
    overflow-wrap: normal;
    overflow-x: auto;
    position: relative;
    font-family: monospace;
    * {
        line-height: inherit;
        font-family: inherit;
    }
}

.petrel-code-editor textarea {
    padding: 0px;
    margin: 0px;
    line-height: inherit;
    background: transparent;
    min-height: 100%;
    overflow: hidden;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    font-family: inherit;
    color: transparent;
    caret-color: #989898;
    overflow-wrap: normal;
    white-space: pre;
    min-width: 100%;
    padding-left: 0;
    position: absolute;
    top: 0;
    font-size: inherit;
    left: 0px;
}

.petrel-code-editor textarea::-moz-selection, .petrel-code-editor textarea::selection {
    color: #000FFF00;
    background: #FFFFFF21;
    border-radius: 10px;
}

.petrel-code-editor pre {
    padding: 0px;
    margin: 0px;
    user-select: none;
    line-height: inherit;
    position: absolute;
    top: 0;
    padding-left: 0;
    pointer-events: none;
    font-family: inherit;
    font-size: inherit;
}

.petrel-code-editor .petrel-code-editor-line-numbering {
    position: sticky;
    min-height: 100%;
    left: 0;

    line-height: inherit;
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 5px;
    text-align: right;
    z-index: 10;
    background: #FFF;
}

.petrel-code-editor .petrel-code-editor-line-numbering span {
    display: block;
}


.petrel-code-editor .petrel-code-editor-line-numbering span div {
    height: 22px;
    width: 100%;
    left: 0px;
    position: absolute;
    background: #FFFFFF11;
    margin-top: -1px;
}

.petrel-code-editor .petrel-code-editor-autocompletion {
    display: block;
    min-height: 35px;
    min-width: 240px;
    max-width: 400px;
    top: 22px;
    position: absolute;
    left: 92px;
    background: #FFF;
}


.petrel-code-editor .petrel-code-editor-autocompletion a {
    cursor: pointer;
    display: block;
}

.petrel-code-editor .petrel-code-editor-autocompletion a.selected {
    background: #00000022;
}

.petrel-code-editor {
    background: #212531;
    color: #FFFFFF;
    caret-color: #FFF;
    font-size: 18px;
    line-height: 23px;
    resize: vertical;
    min-height: 140px;
    border-radius: 10px;

    font-family: 'DM Mono', monospace;
}

.petrel-code-editor::-webkit-resizer {
  background: #212531;
  border-bottom-right-radius: 10px;
}


.petrel-code-editor textarea, .petrel-code-editor pre {
    left: 20px;
    top:  15px;
}

.petrel-code-editor .petrel-code-editor-line-numbering {
    background: #212531;
    padding-right: 9px;
    border-right: 2px solid #FFFFFF11;
    min-height: 100%;

    padding-top: 15px;
    padding-left: 15px;
}


.petrel-code-editor::-webkit-scrollbar {
    width:  20px;
    height: 20px;
    background: #00000022;
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: padding-box;  
}

.petrel-code-editor::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.3);
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: padding-box;  
}

.petrel-code-editor .petrel-code-editor-autocompletion {
    background: #191c25AA;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    border: 2px solid #00000055;

    max-height: 150px;
    overflow: auto;
}
.petrel-code-editor .petrel-code-editor-autocompletion a {
    padding: 4px 6px;
    margin: 5px;
    border-radius: 6px;
    font-size: 16px;
}
.petrel-code-editor .petrel-code-editor-autocompletion a:hover {
    background: #FFFFFF21;
}

.petrel-light {
    background: #f5f5f5;
    color: #181818;
    caret-color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 23px;
    resize: both;
    min-height: 140px;

    border-radius: 10px;


    &::-webkit-resizer {
        background: #f5f5f5;
        border-bottom-right-radius: 10px;
    }

    textarea, pre {
        left: 20px;
        top:  15px;
    }
    
    .petrel-code-editor-line-numbering {
        background: #f5f5f5;
        padding-right: 9px;
        border-right: 2px solid #00000011;
        min-height: 100%;
        
        padding-top: 15px;
        padding-left: 15px;
    }


    .petrel-code-editor-autocompletion {
        background: #d3d3d3aa;
        border-radius: 10px;
        backdrop-filter: blur(7px);
        border: 2px solid #00000022;

        max-height: 150px;
        overflow: auto;
    }

    &::-webkit-scrollbar {
        width:  20px;
        height: 20px;
        background: #00000022;
        border-radius: 20px;
        border: 7px solid transparent;
        background-clip: padding-box;  
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.3);
        border-radius: 20px;
        border: 7px solid transparent;
        background-clip: padding-box;  
    }

    .petrel-code-editor-autocompletion a {
        padding: 4px 6px;
        margin: 5px;
        border-radius: 6px;
        font-size: 16px;
    }
    .petrel-code-editor-autocompletion a:hover {
        background: #00000011;
    }
}